In [1]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro, binom
from statsmodels.stats.multicomp import pairwise_tukeyhsd, MultiComparison
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from scipy import stats
from statsmodels.stats.power import ttest_power

Q1: Find the mean of old scheme and new scheme column. (5 points)

In [3]:
titan = pd.read_csv("Titan.csv")
print(titan)

    SALESPERSON  Old Scheme  New Scheme
0             1          57          62
1             2         103         122
2             3          59          54
3             4          75          82
4             5          84          84
5             6          73          86
6             7          35          32
7             8         110         104
8             9          44          38
9            10          82         107
10           11          67          84
11           12          64          85
12           13          78          99
13           14          53          39
14           15          41          34
15           16          39          58
16           17          80          73
17           18          87          53
18           19          73          66
19           20          65          78
20           21          28          41
21           22          62          71
22           23          49          38
23           24          84          95
24           25          63          81
25           26          77          58
26           27          67          75
27           28         101          94
28           29          91         100
29           30          50          68

In [3]:
titan[['Old Scheme','New Scheme']].mean()

Old Scheme    68.033333
New Scheme    72.033333
dtype: float64

Q2: Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

In [5]:

ttest,pval = stats.ttest_rel(titan['Old Scheme'],titan['New Scheme'])

print(pval)

if pval >0.05:

  print("new scheme has significantly raised outputs")

else:

  print("new scheme did not significantly raised outputs")

0.13057553961337662
new scheme has significantly raised outputs

In [9]:
ttest = ttest_ind(titan['Old Scheme'],titan['New Scheme'])
ttest

Ttest_indResult(statistic=-0.6937067608923764, pvalue=0.49063515686248105)

Q3: What conclusion does the test (p-value) lead to? (2.5 points)

Answer: A small p-value (typically ≤ 0.05) indicates strong evidence against the null hypothesis, so you reject the null hypothesis.

A large p-value (> 0.05) indicates weak evidence against the null hypothesis, so you fail to reject the null hypothesis.

p-values very close to the cutoff (0.05) are considered to be marginal (could go either way). Always report the p-value so we can draw their own conclusions.

Q4: Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

4.1: The probability of a type 1 error? (2.5 points)

In [11]:
##Probability of Type I error = significant level = 0.05 or 5%

4.2: What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)

In [4]:
t_statistic, p_value = ttest_1samp((titan['New Scheme'])-((titan['Old Scheme'].mean())+5),0)
p_value2 = p_value/2
print(t_statistic,p_value2)

-0.2276259527435415 0.4107671330687723

4.3: Power of the test (5 points)

In [13]:
(titan['New Scheme'].mean() - titan['Old Scheme'].mean())/np.sqrt(((29-1)*titan['New Scheme'].var() + (29-1)*titan['Old Scheme'].var())) /29+29-2

27.00082535024823

In [16]:
#alpha based on assumption &  nobs are no of observations

print(ttest_power(27.00, nobs=29, alpha=0.01, alternative='two-sided'))

1.0